<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hulunbuir.evening.persistence.mapper.SysPermissionMapper">

    <select id="getPermissionTree" resultType="com.hulunbuir.evening.persistence.vo.SysPermissionTree">
        SELECT
            sp.id,
            sp.parent_id AS pid,
            sp.per_code AS percode,
            sp.per_name AS title,
            sp.per_name AS `name`,
            sp.per_icon AS icon,
            sp.per_url AS href
        FROM
        sys_user su
            RIGHT JOIN sys_user_role sur ON su.id = sur.user_id
            RIGHT JOIN sys_role sr ON sur.role_id = sr.id
            RIGHT JOIN sys_role_permission srp ON sr.id = srp.role_id
            RIGHT JOIN sys_permission sp ON srp.permission_id = sp.id
        WHERE
            sp.per_status = '1'
            <if test="userId != null">
                AND su.id = #{userId}
            </if>
            <if test="per != null">
                <if test="per.pid != null">
                    AND sp.parent_id = #{per.pid}
                </if>
            </if>
            ORDER BY sp.per_sort;
    </select>

    <select id="getPermissionTrees" resultType="com.hulunbuir.evening.persistence.vo.SysPermissionTree">
        SELECT id,parent_id AS pid,per_name title,per_name name,per_icon AS icon,per_url AS href FROM sys_permission  WHERE per_status = '1' AND parent_id = #{pid} ORDER BY per_sort
    </select>

    <select id="getLayPermissionTree" resultType="com.hulunbuir.evening.persistence.vo.LayPermissionTree">
        SELECT id,parent_id AS pid,per_name title,per_name name,per_icon AS icon,per_url AS href FROM sys_permission  WHERE per_status = '1' AND parent_id = #{pid} ORDER BY per_sort
    </select>

</mapper>
