<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hulunbuir.clam.afternoon.persistence.mapper.BuirUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hulunbuir.clam.afternoon.persistence.entity.BuirUser">
        <id column="id" property="id"/>
        <result column="nick_name" property="nickName"/>
        <result column="user_name" property="userName"/>
        <result column="password" property="password"/>
        <result column="salt" property="salt"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        bu.id, bu.nick_name, bu.user_name, bu.password, bu.salt, bu.status, bu.create_time, bu.update_time
    </sql>
    <!--通用查询-->
    <sql id="query_Where">
        <where>
            <if test="queryQo.nickName != null and queryQo.nickName != '' ">
               and bu.nick_name = #{queryQo.nickName}
            </if>
            <if test="queryQo.userName != null and queryQo.userName != '' ">
                and bu.user_name = #{queryQo.userName}
            </if>
            <if test="queryQo.check == true ">
                <if test="queryQo.id != null and queryQo.id != ''">
                    and bu.id !=  #{queryQo.id}
                </if>
            </if>
        </where>
    </sql>
    <!--获取唯一的用户查询-->
    <select id="selectBuirUser" resultType="com.hulunbuir.clam.afternoon.persistence.entity.BuirUser">
        select
        <include refid="Base_Column_List"/>
        from buir_user bu
        <include refid="query_Where"/>
    </select>

    <select id="getPermissionTreeList" resultType="com.hulunbuir.clam.afternoon.vo.PermissionVo">
        SELECT bp.id,bp.parent_id parentId,bp.per_name perName,bp.per_url url,bp.per_icon perIcon
        FROM buir_user AS bu
        LEFT JOIN buir_user_role AS bur ON bu.id = bur.user_id
        LEFT JOIN buir_role AS br ON bur.role_id = br.id
        LEFT JOIN buir_role_permission AS brp ON br.id = brp.role_id
        LEFT JOIN buir_permission AS bp ON brp.permission_id = bp.id
        WHERE
         bu.`status` = 1 AND bp.per_status = 1
         AND bu.user_name = #{userName} AND  bp.parent_id = #{parentId} order by bp.per_sort
     </select>

</mapper>
