<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--
        配置数据源，数据库连接池
    -->
    <bean id="dataSources" class="com.alibaba.druid.pool.DruidDataSource">
        <!--驱动器-->
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <!--链接URL-->
        <property name="url" value="jdbc:mysql://127.0.0.1:3306/spring?useUnicode=true&amp;characterEncoding=utf-8&amp;zeroDateTimeBehavior=convertToNull&amp;serverTimezone=UTC"/>
        <property name="username" value="root"/>
        <property name="password" value="123456"/>
    </bean>

    <!--
        注入service，dao
    -->
    <bean id="userDao" class="com.hulunbuir.clam.admin.transaction.transactionanno.IUserAnnoDaoImpl">
        <!--注入数据库-->
        <property name="dataSource" ref="dataSources"/>
    </bean>
    <bean id="userService" class="com.hulunbuir.clam.admin.transaction.transactionanno.IUserAnnoServiceImpl">
        <!--注入dao层-->
        <property name="userDao" ref="userDao"/>
    </bean>

    <!--
        配置事务管理器
    -->
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--指定数据源-->
        <property name="dataSource" ref="dataSources"/>
    </bean>

    <!--
        配置事务的扫描驱动,使用的是注解形式的事务管理，
        使用@Transactional 来制定一个类，或者一个类中的方法
    -->
    <tx:annotation-driven transaction-manager="txManager"/>


</beans>