<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <link href="/icon/ali.gif" rel="shortcut icon" type="image/gif"/>
    <link href="/layui/css/layui.css" rel="stylesheet">
    <link href="/layui/css/view.css" rel="stylesheet"/>
    <title>管理后台</title>
</head>
<body class="layui-view-body">
<div class="layui-content">
    <div class="layui-row layui-fluid">
        <div class="form-box">
                <form id="generator-configure-form">
                    <div class="layui-col-md7">
                        <div class="layui-form-item">
                            <label class="layui-form-label ">作者名称：</label>
                            <div class="layui-input-block">
                                <input autocomplete="off" class="layui-input" lay-verify="required" maxlength="20"
                                       name="author"
                                       type="text">
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md7">
                        <div class="layui-form-item">
                            <label class="layui-form-label ">基础包名：</label>
                            <div class="layui-input-block">
                                <input autocomplete="off" class="layui-input" lay-verify="required" maxlength="50"
                                       name="basePackage" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md7">
                        <div class="layui-form-item">
                            <label class="layui-form-label ">entity包名：</label>
                            <div class="layui-input-block">
                                <input autocomplete="off" class="layui-input" lay-verify="required" maxlength="20"
                                       name="entityPackage" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md7">
                        <div class="layui-form-item">
                            <label class="layui-form-label ">service包名：</label>
                            <div class="layui-input-block">
                                <input autocomplete="off" class="layui-input" lay-verify="required" maxlength="20"
                                       name="servicePackage" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md7">
                        <div class="layui-form-item">
                            <label class="layui-form-label ">serviceImpl包名：</label>
                            <div class="layui-input-block">
                                <input autocomplete="off" class="layui-input" lay-verify="required" maxlength="20"
                                       name="serviceImplPackage" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md7">
                        <div class="layui-form-item">
                            <label class="layui-form-label ">mapper包名：</label>
                            <div class="layui-input-block">
                                <input autocomplete="off" class="layui-input" lay-verify="required" maxlength="20"
                                       name="mapperPackage" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md7">
                        <div class="layui-form-item">
                            <label class="layui-form-label ">mapperXml包名：</label>
                            <div class="layui-input-block">
                                <input autocomplete="off" class="layui-input" lay-verify="required" maxlength="20"
                                       name="mapperXmlPackage" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md7">
                        <div class="layui-form-item">
                            <label class="layui-form-label ">controller包名：</label>
                            <div class="layui-input-block">
                                <input autocomplete="off" class="layui-input" lay-verify="required" maxlength="20"
                                       name="controllerPackage" type="text">
                            </div>
                        </div>
                    </div>
                    <!--<div class="layui-col-md7">
                        <div class="layui-form-item">
                            <label class="layui-form-label">是否去除表前缀：</label>
                            <div class="layui-input-block">
                                <input type="radio" name="isTrim" value="1" lay-filter="isTrim" title="是"
                                       checked="">
                                <input type="radio" name="isTrim" value="0" lay-filter="isTrim" title="否">
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md7">
                        <div class="layui-form-item">
                            <label class="layui-form-label">表前缀：</label>
                            <div class="layui-input-block">
                                <input type="text" name="trimValue" autocomplete="off" maxlength="20"
                                       class="layui-input">
                            </div>
                        </div>
                    </div>-->
                    <div class="layui-col-md7">
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn layui-btn-warm" id="save_config">
                                    保存配置
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
    </div>
</div>
<script src="/layui/layui.all.js"></script>
<script src="/layui/layui.js"></script>
<script src="/buir/view/generator/configure.js"></script>
</body>
</html>