<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <link href="/icon/ali.gif" rel="shortcut icon" type="image/gif"/>
    <link href="/layui/css/layui.css" rel="stylesheet">
    <link href="/layui/css/view.css" rel="stylesheet"/>
    <title>管理后台</title>
</head>
<body class="layui-view-body">
<div class="layui-content">
    <div class="layui-row">
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="form-box">
                    <!--查询-->
                    <form class="layui-form layui-table-form" id="searchForm">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-inline">
                                    <label class="layui-form-label layui-form-label-sm">数据库名称</label>
                                    <div class="layui-input-inline">
                                        <input autocomplete="off" class="layui-input" name="schemaName" placeholder="数据库名称" type="text">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <div class="layui-btn layui-btn-primary" id="query"  type="button">
                                        <i class="layui-icon">&#xe615;</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!--表格 lay-filter="generatorTable"  lay-data="{schemaName: 'generatorTable',tableName: 'generatorTable'}" -->
                    <table id="generatorTable" lay-filter="generatorTable"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/layui/layui.all.js"></script>
<script src="/layui/layui.js"></script>
<!--生成代码的操作按钮-->
<script id="generator-option" type="text/html">
    <a lay-event="generate" ><i class="layui-icon">&#xe609;</i></a>
</script>
<script src="/buir/view/generator/generator.js"></script>
</body>
</html>