<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="telephone=no" name="format-detection">
    <link href="/layui/css/layui.css" media="all" rel="stylesheet"/>
    <link href="/css/public.css" media="all" rel="stylesheet"/>
    <title>权限管理</title>
</head>
<body class="childrenBody">
<blockquote class="layui-elem-quote quoteBox">
    <!--查询-->
    <form class="layui-form layui-table-form" id="searchForm">
        <div class="layui-row">
            <div class="layui-col-md10">
                <div class="layui-inline">
                    <label class="layui-form-label layui-form-label-sm">权限名称</label>
                    <div class="layui-input-inline">
                        <input autocomplete="off" class="layui-input" name="perName"
                               placeholder="权限名称" type="text">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label layui-form-label-sm">权限路径</label>
                    <div class="layui-input-inline">
                        <input autocomplete="off" class="layui-input" name="perUrl"
                               placeholder="权限路径" type="text">
                    </div>
                </div>
                <!--搜索，刷新-->
                <div class="layui-inline">
                    <label class="layui-form-label layui-form-label-sm"></label>
                    <div class="layui-btn layui-btn-lg layui-btn-primary " id="query"
                         type="button">
                        <div class="layui-input-inline">
                            <i class="layui-icon">&#xe615;</i>
                        </div>
                    </div>
                    <div class="layui-btn layui-btn-lg layui-btn-primary  " id="reset"
                         type="reset">
                        <div class="layui-input-inline">
                            <i class="layui-icon">&#xe669;</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</blockquote>
<!--操作>添加-->
<div class="layui-row">
    <div class="layui-inline">
        <label class="layui-form-label layui-form-label-sm">
            <button class="layui-btn layui-btn-lg layui-btn-normal" id="addData" type="button">
                <i class="layui-icon">&#xe654;</i>
            </button>
        </label>
    </div>
</div>
<div class="layui-row">
    <!--表格-->
    <table id="tableList" lay-filter="tableFilter"></table>
</div>
<script src="/layui/layui.js"></script>
<!--操作列中的按钮-->
<script id="operations" type="text/html">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
</script>
<!--是否启用-->
<script id="perStatus" type="text/html">
    {{#  if(d.perStatus == 1){ }}
    <span class="layui-btn layui-btn-normal layui-btn-xs">启用</span>
    {{#  } else if(d.perStatus == 2) { }}
    <span class="layui-btn layui-btn-warm layui-btn-xs">不启用</span>
    {{#  } }}
</script>
<script src="/js/permission/permission-crud.js"></script>
</body>
</html>